body {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  min-height: 100vh;
  margin: 0;
  background-color: #212121;
}

div {
  margin: 0;
  padding: 0;
}

.hero-content,
.footer {
  background-color: #1f2937;
  padding: 0 75px;
  color: #f9faf8;
}

.testimonial {
  background-color: #e5e7eb;
}

.main-content,
.testimonial,
.call-to-action {
  color: #0e070b;
}

.main-content,
.call-to-action {
  background-color: #ffffff;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 18px;
}

.hero-splash {
  display: flex;
  justify-content: space-evenly;
  padding: 8px;
}

.top-navigation {
  display: flex;
  margin: 0;
  padding: 0;
  gap: 16px;
  list-style-type: none;
}

.top-navigation a,
.hero-text p {
  text-decoration: none;
  color: #e7e5eb;
  font-size: 18px;
}

.left,
.right {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 0;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: bolder;
}

.hero-text h2 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
}

.sign-up {
  background-color: #3882f6;
  color: #ffffff;
  border-radius: 15px;
  border-style: none;
  font-size: 18px;
  padding: 10px 40px;
}
